/* *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: transparent;
} */

/* Header */

#header{
    color: #fff;
    background-color: #e74c3c;
}

#logo{
    font-size: 2rem;
    margin-top: 5px;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
}

#menu li a{
    color: #fff;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}

#menu li a:hover{
    background-color: #c0392b;
}

/* Banner */
#banner{
    background: url('../images/banner.jpg') no-repeat 0 0;
    background-size: color;
    height: 250px;
    width: 100%;
    background-position: center;
}

.banner-title h1{
    background: var(--bs-tertiary-bg);
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.banner-title p.lead{
    color: #fff;
    background: rgba(231, 76, 60, 0.7);
    padding: 10px;
}

.serviceBox{
    text-align: center;
}

.section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.section h2.sectionHead{
    text-align: center;
    color: var(--bs-emphasis-color);
}

.section h2.sectionHead::after{
    background: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}

/*Testimonials*/
#testimonials{
    background-color: #3498db;
    background-image: linear-gradient(to bottom right, #3498db, #7f8c8d);
    background-size: cover;
    padding: 50px 0;
    position: relative;
    color: white;
    
    h2{
        color: white;
    }
}

#testimonials::before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.testimonial img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

#news a{
    text-decoration: none;
    color: #e74c3c;
}

#news h3{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#news .newsSection{
    padding-bottom: 10px;
}

.newsPost img{
    width: 100%;
}

#footerSidebar{
    background-color: rgb(52, 73, 94);
    color: #fff;
    padding: 20px 0;
}

#footerSidebar a{
    text-decoration: none;
    color: #fff;
}

.footerWidget h4::after{
    content: "";
    display: block;
    background: #fff;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}

#footer{
    background: var(--bs-body-bg);
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer li{
    display: inline-block;
}

#footer li a{
    padding: 2px;
}

#footer li a svg{
    width: 20px;
}

@media (max-width: 768px){
    #logo{
        text-align: center;
        margin: 10px 0;
    }

    #menu{
        text-align: center;
    }

    .testimonial{
        text-align: center;
        margin-bottom: 30px;
    }

    .serviceBox{
        margin-bottom: 30px;
    }

    .footerWidget{
        margin-bottom: 20px;
    }

    #footer{
        text-align: center;
    }

    #socialIcons{
        margin-top: 10px;
        padding: 0;
    }

    .newsPost{
        margin-bottom: 30px;
    }
}