*{
	text-decoration: none;
	padding: 0;
	margin: 0;
	background: transparent;
}

body{
	background-color: transparent;
}

main{
	padding-top: 100px;
}

/*Header*/

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	width: 100%;
	height: 100px;
}

header .header-brand{
	font-style: montserrat;
	font-size: 24px;
	color: #111;
	font-weight: 900;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0px;
}

header nav ul{
	display: block;
	margin: 0 auto;
	width: fit-content;
}

header nav ul li{
	display: inline-block;
	float: left;
	list-style: none;
	padding: 0px 16px;
}

header nav ul li a{
	font-style: montserrat;
	font-size: 16px;
	color: #111;
	text-transform: uppercase;
}

.header-cases{
	display: none;
}

@media only screen and (min-width: 768px){
	header .header-brand {
		margin: 31px 0;
		text-align: left;
		line-height: 38px;
		padding: 0 20px 0 40px;
		border-right: 3px solid #111;
		float: left;
		}
		
	header nav ul{
		margin: 20px 0 0px 17px;
		float: left;
		}

	header nav ul li a{
		line-height: 60px;
		}
		
	.header-cases{
		display: block;
		line-height: 38px;
		border: 1px solid #111;
		float: right;
		margin-right: 25px;
		margin-top: 30px;
		padding: 0 20px;
		}
		
	.header-cases a{
		color: #111;
		font-family: montserrat;
		text-transform: uppercase;
		font-size: 16px;
		}
}

@media only screen and (min-width: 1000px){
	header nav ul{
		margin: 20px 0 0px 20px;
		}
		
	.header-cases{
		margin-right: 40px;
		}
}

/*Main*/

.home-banner{
	width: 100%;
	height: calc(100vh - 100px);
	background-image: url(../images/img5.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}

.vertical-center{
	display: table-cell;
	vertical-align: middle;
}

.home-banner h2{
	font-family: montserrat;
	font-size: 56px;
	color: #fff;
	text-align: center;
	font-weight: 900;
	text-shadow: 2px 2px 8px #111;
}


.home-banner h1{
	font-family: montserrat;
	font-size: 24px;
	font-style: italic;
	line-height: 34px;
	color: #fff;
	text-align: center;
	font-weight: 100;
	text-shadow: 2px 2px 8px #111;
}

.home-boxlink{
	margin: 16px 16px 0px;
	width: calc(100% - 32px);
	height: 100px;
	background-color: #e3e3e3;
}

.home-boxlink h3{
	font-family: montserrat;
	font-size: 25px;
	line-height: 100px;
	color: #111;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
}

@media only screen and (min-width: 768px){
	.wrapper{
		width: 700px;
		margin: 0 auto;
	}
	
	.home-banner{
		height: 450px;
		margin-bottom: 19px;
	}
	
	.home-banner h1{
		display: block;
		width: 560px;
		margin: 0 auto;
	}
	
	.home-boxlink{
		float: left;
		margin: 10px;
		height: 175px;
		width: calc(50% - 21px);
	}
	
	.home-boxlink h3{
		line-height: 165px;
	}
}

@media only screen and (min-width: 1000px){
	
	.wrapper{
		width: 500px;
	}
	
	.home-banner{
		height: 400px;
	}
	
	.home-boxlink{
		height: 195px;
		width: calc(50% - 32px);
	}
	
	.home-boxlink h3{
		line-height: 195px;
	}
}

/*Cases*/

.cases-links h2{
	font-family: montserrat;
	font-size: 26px;
	color: #111;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 0 0 20px;
}

.cases-links .wrapper-links .cases-boxlink{
	margin: 16px 16px 0px;
	width: calc(100% - 32px);
	height: 100px;
	background-color: #e3e3e3;
}

.cases-links .wrapper-links .cases-boxlink p{
	font-family: montserrat;
	font-size: 24px;
	color: #111;
	font-weight: 600;
	text-align: center;
	padding-top: 11%;
}

@media only screen and (min-width:768px){
	.cases-links h2{
		padding: 0;
	}
	.wrapper-links{
		width: 700px;
		margin: 0 auto;
	}
	.cases-links .wrapper-links .cases-boxlink{
		float: left;
		margin: 10px;
		height: 175px;
		width: calc(50% - 21px);
	}
	.cases-links .wrapper-links .cases-boxlink p{
		padding-top: 25%;
	}
}

@media only screen and (min-width:1000px){
	.wrapper-links{
		width: 1000px;
	}
	.cases-links .wrapper-links .cases-boxlink{
		width: 230px;
		height: 230px;
		margin: 10px;
	}
	.cases-links .wrapper-links .cases-boxlink p{
		padding-top: 45%;
	}
}

/*Footer*/

footer{
	float: right;
	width: calc(100% - 60px);
	margin-top: 20px;
	padding: 30px 30px;
	background-color: #111;
	text-align: center;
}

footer h4{
	color: #fff;
}